html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: #0a3d62;
  font: 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  gap: 1rem;
}

h1 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

.lock {
  max-width: 300px;
}

.lock .cursor,
.lock text {
  fill: #fff;
}

.lock circle {
  fill: transparent;
}

.lock .grab {
  cursor: grab;
}

.text {
  margin-top: -1rem;
}

input {
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  width: 220px;
  padding: 0;
  color: #fff;
  -webkit-text-fill-color: #fff;
  opacity: 1;
}

div {
  display: flex;
  gap: 1rem;
  width: 220px;
}

button {
  flex: 1;
  border: none;
  background: #fff;
  color: #0a3d62;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

input,
button {
  font: inherit;
}
